$text-color: #ddd;

$link-color: #D5AA13;
$link-color-hover: #ECC22F;
$link-color-visited: #A6850F;
$link-color-active: adjust-color($link-color-hover, $lightness: -15);
$sidebar-bg: #111;
$sidebar-border: #333;

$header-bg: #121212;

$main-bg: #111;
$page-bg: #252525;
$article-border: #eeeeee;

$header-bg: #333;
$header-border: lighten($header-bg, 15);
$title-color: #f2f2f2;
$subtitle-color: #59449b;

$nav-bg: #333;
$nav-color: #ccc; 

$sidebar-bg: #222;

$footer-color: #999;
$footer-bg: #333;
$footer-border-color: #000;
$footer-link-color: $link-color;
